/* tailwind */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* fonts */
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');
body {
  font-family: 'Montserrat', sans-serif;
} */
